
.LoginDivimg img{
    width: 200px;
}
.InputLogin input{
    height: 35px;
    border:1px solid #cbd5e1 ;
    border-radius: 5px;
}
.InputLoginpass input{
    margin-right: 0.5rem;
}
.InputLoginpass
{
    margin-bottom: 1rem;
}